<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item id="header" class="centered-container">
      <h5> Iumaco </h5>
      <div id="logo"><img src="./assets/icon/logito.ico" alt="img logo"></div>
      <div id="botonesRutas" slot="end">
        <ion-button (click)="volver()"> Volver</ion-button>
        <ion-button (click)="salirPagina()"> Cerrar sesión</ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centered-container">
  <div id="formulario">
    <div id="formularioCitacionComite">
      <h2>Formulario de Citacion a Comité</h2>
      <form action="enviar.php" method="POST" enctype="multipart/form-data">

        <ion-item class="cuadro">
          <ion-label for="fichas">Fichas:</ion-label>
          <ion-select id="fichas" [(ngModel)]="fichaSeleccionada" name="fichaSeleccionada" (ionChange)="filtrarDestinatarios()">
            <ion-select-option *ngFor="let ficha of fichasUnicas" [value]="ficha">{{ ficha }}</ion-select-option>
          </ion-select>
        </ion-item><br>
        
        <ion-item class="cuadro">
          <ion-label for="destinatario">Lista de aprendices:</ion-label>
          <ion-select id="destinatario" [(ngModel)]="destinatario" name="destinatario" multiple="false" (ionChange)="informacionAprendiz()">
            <ng-container *ngFor="let destinatario of destinatarios">
              <ion-select-option [value]="destinatario.email">{{ destinatario.nombre }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item><br> 
      
        <ion-item class="cuadro">
          <ion-label position="floating">Nota:</ion-label>
          <ion-textarea [(ngModel)]="nota" id="nota" name="nota"></ion-textarea>
        </ion-item><br>

        <ion-item class="cuadro">
          <ion-label position="floating">link de hubicación de la evidencia:</ion-label>
          <ion-textarea [(ngModel)]="linkToPlace" id="link" name="link"></ion-textarea>
        </ion-item><br>
      
        <input type="submit" value="Enviar" (click)="enviarCorreo()">
      </form>
      
    </div>
  </div>

  <pre>
    
  </pre>
</ion-content>
